<html layout:decorate="~{layout}">
<div layout:fragment="content" class="table-responsive container my-3" style="width: auto; white-space: nowrap;">
	<h2 class="border-bottom py-2">진료과 안내</h2>
	<div class="row my-3">
	    <div class="col-6">
			<a sec:authorize="hasRole('ADMIN')" th:href="@{/code/insert}" class="btn btn-primary">신규코드등록</a>
	    </div>
	</div>
	<table class="table">
        <thead class="table-dark">
			<tr class="text-center">
			    <th>번호</th>
				<th>입력ID</th>
			    <th>코드</th>
			    <th>코드명칭</th>
			    <th>코드설명</th>
				<th>위치</th>
				<th>전화번호</th>
				<th>입력(수정)일시</th>
			</tr>
        </thead>
        <tbody>
			<tr class="text-center" th:each="codeList : ${codeList}">
			    <td class="text-start">
			        <a th:href="@{|/code/detail/${codeList.id}|}" th:text="${codeList.id}"></a>
			    </td>
				<td th:text="${codeList.codeAuthor.userid}"></td>
				<td th:if="${codeList.codeId != null}" th:text="${codeList.codeId}"></td>
			    <td th:if="${codeList.code_Name1 != null}" th:text="${codeList.code_Name1}"></td>
				<td th:if="${codeList.code_Name2 != null}" th:text="${codeList.code_Name2}"></td>
				<td th:if="${codeList.floor != null}" th:text="${codeList.floor}"></td>
				<td th:if="${codeList.telp != null}" th:text="${codeList.telp}"></td>
				<td th:text="${#temporals.format(codeList.code_Date, 'yyyy-MM-dd HH:mm')}"></td>
			</tr>
		</tbody>
    </table>
</html>