<html layout:decorate="~{layout}">
<div layout:fragment="content">
	<div class="container" style="min-height:75vh; width: 90vw;">
		<h2 class="border-bottom py-2">내과</h2>
		<div class="card mt-3 mb-3">

			<style>
				.content-wrapper {
					margin-left: 18%;
					margin-right: 18%;
				}
			</style>

			<br><br><br>
			<h4 class="content-wrapper">
				원인을 찾고 방향을 세우는, 전신 건강의 시작
			</h4>
			<p class="content-wrapper">
				내과는 감기·발열 같은 급성 질환부터 만성질환 관리까지 폭넓게 진료합니다.
				<br>
				증상이 애매해도 상담과 검사를 통해 원인을 정리하고, 치료와 생활관리 계획을 제시합니다.
			</p>
			<br>
			<h5 class="content-wrapper">
				내과 (1층 / 062-111-1111)
			</h5>
			<p class="content-wrapper form-label" style="font-size: 16px;">
				감기·발열 같은 급성 질환부터 소화불량, 피로, 만성질환(고혈압·당뇨 등)까지 폭넓게 진료하며, 증상이 애매할 때도 검사와 상담으로 원인을 정리해 치료 방향을 제시합니다.
			</p>
			<br>
			<h5 class="content-wrapper">
				신경과 (1층 / 062-111-2222)
			</h5>
			<p class="content-wrapper form-label" style="font-size: 16px;">
				두통, 어지럼, 손발 저림, 기억력 저하 등 신경계 증상을 평가하고 필요한 검사와 치료·생활관리를 통해 증상 개선과 재발 예방을 돕습니다.
			</p>
			<br>
			<h5 class="content-wrapper">
				정신건강의학과(정신과) (1층 / 062-111-3333)
			</h5>
			<p class="content-wrapper form-label" style="font-size: 16px;">
				불안·우울·불면·스트레스 등 마음의 어려움을 전문적으로 상담하고, 개인 상태에 맞춘 치료 계획으로 일상 회복을 지원합니다.
			</p>
			<br>
			<h5 class="content-wrapper">
				소아청소년과 (1층 / 062-111-4444)
			</h5>
			<p class="content-wrapper form-label" style="font-size: 16px;">
				영유아·청소년의 감염질환, 알레르기, 성장·발달 문제를 연령에 맞춰 진료하며 보호자 상담을 통해 건강한 성장 관리를 돕습니다.
			</p>
			<br><br><br>
		</div>
	</div>

</div>

</html>